@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundColor{
    background-color: #313131;
}

.aboutBgColor{
    background-color: rgb(161, 139, 115, 0.54);

}
.portfolioFontColor{
    color: rgb(69,62,62);
}
.hiFont{
    font-family: 'Clicker Script', serif;font-size: 150px;
}

.bodyAbout{
    font-family: 'MV Boli', sans-serif;

}
.hiNav{
    font-family: "Clicker Script",  serif;
    font-size: 70px;
}
.about{
    font-family: "MV Boli", sans-serif;
}
.nav{
    font-family: 'Megrim', cursive;

}

.resumeFont{
    font-family: 'Megrim', cursive;}

.divided_1{
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.divided_1:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;


}

.resumeBg:hover{
    background-color: rgb(82 82 82)
;
}

.figmaImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}